extends layout

block content
  h2 Join our community
    //- p #{players}
    each player in players
      hr
      h4| #{player.playerName}
      p| #{player.playerMail}
      p| #{player.playerReports}
      p| likes: #{player.playerPreferences}
